html, 
body, 
div, 
span, 
applet, 
object, 
iframe, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
blockquote, 
pre, 
a, 
abbr, 
acronym, 
address, 
big, 
cite, 
code, 
del, 
dfn, 
em, 
font, 
img, 
ins, 
kbd, 
q, 
s, 
samp, 
small, 
strike, 
strong, 
sub, 
sup, 
tt, 
var, 
b, 
u, 
i, 
center, 
dl, 
dt, 
dd, 
ol, 
ul, 
li, 
fieldset, 
form, 
label, 
legend, 
table, 
caption, 
tbody, 
tfoot, 
thead, 
tr, 
th, 
td {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent
}

html {
    overflow-y:scroll
}

body {
    min-width:660px;
    font-family: "Prosto", Georgia, 'Times New Roman', Times, sans-serif;
    line-height:1.5;
    color:#1a1a1a;
    background:#fff
}

.wrapper {
    width:600px;
    margin:0 auto
}

header,
footer, 
section, 
article, 
aside {
    display:block
}

h1, 
h2, 
h3, 
h4 {
    font-weight:normal;
    margin-bottom:0.5em
}

h1 {
    font-size:20px
}

h2 {
    font-size:18px
}

h3 {
    font-size:16px
}

h4 {
    font-size:14px
}

p {
    margin-bottom:1em
}

a {
    color:#1E4F69;
    text-decoration:none;
}

a:hover {
    color:#bf0000;
    border-color:#ccc
}

strong {
    font-weight:bold
}

em, 
cite {
    font-style:italic
}

sub, 
sup {
    font-size:0.7143em
}

sub {
    vertical-align:bottom
}

sup {
    vertical-align:super
}

blockquote {
    padding:0 3em
}

ul {
    list-style:disc
}

ol {
    list-style:decimal
}

ul ol, 
ol ul, 
ul ul, 
ol ol {
    margin-left:2.5em
}

ol ul, 
ul ul {
    list-style:circle
}

pre, 
code {
    font-family:Monaco, Courier,monospace;
    font-size:11px;
    line-height:1.8;
    color:#000
}

pre {
    margin-bottom:1.5em;
    border:1px solid #e5e5e5;
    padding:0.5em 1em;
    background:#fafafa;
    white-space:pre-wrap
}

code {
    background:#efefef
}

pre code {
    background:transparent
}

ins {
    text-decoration:none
}

del {
    text-decoration:line-through
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

article {
    clear:both;
    border-bottom:1px solid #e5e5e5;
    padding: 2em 0px 1em;
}

.title-forward-link {
    font-size: 1em;
    margin-left: -35px;
    opacity: 0.8;
    position: absolute;
    top: 0px;
}

.title-hr {
    width: 100%;
}

article h1 {
    position: relative;
}

article h1 a {
    border-bottom:none
}

.date {
}

.summary {
    margin-top:1em;
}

.section {
    overflow:auto;
    clear:both;
    border-top:1px solid #e5e5e5;
    padding-top:1.5em
}

.image {
    margin-bottom:1em
}

.image img {
    display:block
}

.image a {
    display:block;
    border:none
}

.imageright {
    float:right;
    clear:right;
    margin:0 0 1em 1em
}

.imageleft {
    float:left;
    clear:left;
    margin:0 1em 1em 0
}

a.imagelink {
    border-bottom:none
}

.def {
    font-variant:small-caps
}

section.content {
    margin-top:0.9em
}


#header {
    font-family: 'MolotRegular', 'Lucida Grande', Helvetica, Arial, sans-serif;
    letter-spacing:0.1em
}

#header .wrapper {
    margin-top: 0.5em;
}

#title {
    line-height: 1;
    margin:0;
    float:left;
    font-size:5em;
    font-family: 'DitedRegular';
}

#title a {
    text-decoration: none;
}

#nav-wrapper {
    float: right;
}

#navigation {
    width:100%;
    font-size: 1em;
}

#navigation a {
    border-top: 0;
    display: block;
    text-align: center;
    position: relative;
    text-decoration: none;
    border: none;
    overflow: hidden;
}

#navigation a:hover {
    background-color: whiteSmoke;
}

#navigation span {
    display: block;
    text-align: center;
    white-space: nowrap;
    font-size: 1.8em;
}

#navigation li {
    display: inline-block;
    width: 100px;
    list-style:none;
}

#footer {
    padding:1.5em 0 3em 0;
    font-style:italic
}

#articles-listing {
    margin:1.25em 0
}

#articles-listing li {
    margin:0.5em 0;
    list-style:none;
    clear:both
}

#articles-listing .date {
    display:block;
    width:160px;
    float:left
}

#MathJax_Message {
    display:none!important
}

table.sourceCode, 
tr.sourceCode, 
td.lineNumbers, 
td.sourceCode, 
table.sourceCode pre {
    margin:0;
    padding:0;
    border:0;
    vertical-align:baseline;
    border:none
}

td.lineNumbers {
    border-right:1px solid #AAAAAA;
    text-align:right;
    color:#AAAAAA;
    padding-right:5px;
    padding-left:5px
}

td.sourceCode {
    padding-left:5px
}

pre.sourceCode span.kw {
    color:#AE4A54
}

pre.sourceCode span.dt {
    color:#902000
}

pre.sourceCode span.dv {
    color:#40a070
}

pre.sourceCode span.bn {
    color:#40a070
}

pre.sourceCode span.fl {
    color:#40a070
}

pre.sourceCode span.ch {
    color:#4070a0
}

pre.sourceCode span.st {
    color:#4070a0
}

pre.sourceCode span.co {
    color:#60a0b0;
    font-style:italic
}

pre.sourceCode span.ot {
    color:#007020
}

pre.sourceCode span.al {
    color:red;
    font-weight:bold
}

pre.sourceCode span.fu {
    color:#06287e
}

pre.sourceCode span.re {

}

pre.sourceCode span.er {
    color:red;
    font-weight:bold
}
